<!DOCTYPE html>
<html>
  <head>
    <title> {{company_name}} Generator </title>
    {% include 'bootstrap.html' %}
    <link href="static/css/style.css" rel="stylesheet">
    <nav>
    {% include 'nav.html' %}
  </nav>
  </head>
  <body>
    <div class="container">
      <h1> Band Name Generator </h1>
      <br>
      <div class="first-div white">
        <h3> Don't know what to name your Band that is unique to you?</h3>
        <h4> Let us Help!</h4>
        <br>
        {% include 'band.html' %}
      </div>
    </div>
    <div>
         {% include 'footer.html' %}
    </div>
  </body>
</html>